langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
transformers
torch
pytesseract
pdf2image
PyMuPDF
python-dotenv
openai
Pillow

streamlit
jupyter
ipython

pandas
numpy
matplotlib
seaborn
plotly

prometheus-client
psutil

pydantic
PyYAML

pytest
pytest-asyncio

black
flake8
mypy
googletrans==4.0.0rc1

flask
